<matMap [zoom]="zoom | async"  [lat]="center.lat" [lng]="center.lng">
  <matMapMarker *ngFor="let location of locations" [lat]="location.lat" [lng]="location.lng"></matMapMarker>
</matMap>

<mat-menu #zoomMenu="matMenu">
  <button mat-menu-item (click)="zoom.next(3)">3</button>
  <button mat-menu-item (click)="zoom.next(4)">4</button>
  <button mat-menu-item (click)="zoom.next(5)">5</button>
  <button mat-menu-item (click)="zoom.next(6)">6</button>
  <button mat-menu-item (click)="zoom.next(7)">7</button>
  <button mat-menu-item (click)="zoom.next(8)">8</button>
  <button mat-menu-item (click)="zoom.next(9)">9</button>
  <button mat-menu-item (click)="zoom.next(10)">10</button>
  <button mat-menu-item (click)="zoom.next(11)">11</button>
  <button mat-menu-item (click)="zoom.next(12)">12</button>
</mat-menu>
<button mat-raised-button [matMenuTriggerFor]="zoomMenu">
  Zoom: {{zoom | async}}
</button>

